:root{
    
    /* CORES PADRÃO DO AW */
    --aw-red1 : #b03634;
    --aw-red2 : #a84434;
    
    --aw-dark-Yelow: #f2a32f;
    --aw-yelow: #f2d700;

    --aw-deep-Blue: #282c34;
    --aw-dark-Blue1: #283653;
    --aw-deepdepp-Blue: #0f101b;
    
    --aw-blue1: #282c89;
    --aw-blue2: #2844bc;
    --aw-blue3: #286ad1;

    --aw-blue-gray: #567d89;
    --aw-dark-White: #abb2bf;
    --aw-yelowLight-white: #abb2a0;

    --aw-green1: #3d956e;
    --aw-green2: #98c379;
    --aw-green3: #98a64a;

    --aw-purple1: #bd78dd;
    --aw-dark-Purple: #7b4b6a;
    --aw-deep-Purple: #532c4a; 
   
    /* CORES PADRÃO DO AW */


    

}