
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

a:visited{
    color: #d10046;
}


/*   BARRA SCROLL  */

::-webkit-scrollbar{
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.515);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(rgba(0, 0, 0, 0.14),rgba(255, 255, 255, 0.225), rgba(0, 0, 0, 0.173));
}
::-webkit-scrollbar-thumb:hover{
    
    background: linear-gradient(rgba(0, 0, 0, 0.133),rgb(255, 255, 255), rgba(0, 0, 0, 0.076));
}

/*  BARRA SCROLL  */


/* SELEC MENU */
select{
    background: none;
    color: white;
    font-size: 20px;
    opacity: 0.6;
    transition: opacity, 0.6s;
}

select:hover{
    opacity: 1;
}


option{
    background-color: rgb(0, 0, 0);
}

/* SELEC MENU */
