

/*GRID */

.grid_container{
    display: grid;
    grid-template-columns: 10% 75% 1fr;
    grid-template-rows: auto auto 1fr;

    padding: 20px;



}

/* header */

.header{
    grid-row: 1;
    grid-column: 1/4;
    
    padding: 20px;
    border-radius: 7px 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    background-color: var(--aw-deepdepp-Blue);
    background: linear-gradient(45deg,var(--aw-deepdepp-Blue),rgba(0, 0, 255, 0.067));
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    padding: 10px;
    color: white;
}

/* header */


.pesquisar{
    background-color: rgb(112, 158, 255);
}

.menu_elementos{
    background-color: rgb(97, 128, 196);
}

.menu2{
    grid-row: 2;
    grid-column: 1/4;


    display: flex; 
    background-color: rgb(19, 46, 105);
}
.menu2 ul{
    display: flex;
}


.menu_lateral_esq{
    grid-row: 3;
    grid-column: 1;

    display: flex;
    background-color: brown;
}
.menu_lateral_dir{
    display: flex;
    background-color: rgb(165, 42, 118);
}

.menu_superior_cards_1{
    display: flex;
}
.menu_superior_cards_2{
    display: flex;
}






.cards_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 10px;

    height: 80vh;
    overflow: auto;

}
.card{
    width: 260px;
    background-color: black;
    padding: 6px;
    border: solid 2px ;

}